
html{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    display: inline-block;
    scroll-behavior: smooth;
    /* background-image:url("practicebackground.jpg"); */
}


.wrapper{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 5px;
    width: 100%;
    margin: auto; 
 }

.wrapper1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 23vh;
    width: 100%;
    margin: auto;
}

.wrapper2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 30px;
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    margin: auto;
}


.head{
    background: url("practicebackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    /* position:fixed; */
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;
}

.topnav{
    text-align: left;
    background: linear-gradient(to right, rgb(163, 195, 255), black);
    display: inline-block;
    overflow: hidden;
    z-index: 1; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.3s;
}

.topnav a{
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition: all 0.5s ease-in-out
}

.home:hover{
    background-color: black;
    color: white;
}

.about:hover{
    background-color: black;
    color: white;
}

.resume:hover{
    background-color: black;
    color: white;
}

.project:hover{
    background-color: black;
    color: white;
}

.contact:hover{
    background-color: black;
    color: white;
}



.centertext{
    /* margin-top: 15px; */
    grid-column: 6/8; 
}


.welcome{
    font-weight: bold;
    display: flex;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    text-align: center;
    white-space: nowrap;
    margin-top: 22vh;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    color:  rgb(163, 195, 255);
    justify-content: center;
    top: 3vw;
    /* right: 5.5vw; */
    font-size: 3vw;
}

.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
    font-weight: bold;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    /* right: 4.5vw; */
    white-space: nowrap;
    color:  rgb(206, 204, 204);
    /* top: 1vh; */
}

.abtbtn{
    display: flex;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    justify-content: center;
}

.aboutbtn{
    font-size: 1vw;
    text-decoration: none;
    color: rgb(163, 195, 255);
    border: 2px solid  rgb(163, 195, 255);
    /* padding: 20px 80px; */
    padding: 1vw 2vh;
    /* position: relative; */
    /* overflow: hidden; */
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* left: 5.5vw; */
    /* top: 6vh; */
}

@media screen and (max-width: 640px) {
    .aboutbtn{
        white-space: nowrap;
    }
}

@media screen and (max-width: 960px) {
    .aboutbtn{
        white-space: nowrap;
    }
}


.aboutbtn:hover{
    background-color: rgb(163, 195, 255);
    border-style: solid;
    border-color: black;
    color: black;
}

.about-me{
    /* font-size: 2vw; */
    font-size: 4vh;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 60vw;
    white-space: nowrap;
    grid-row: 1/2;
    top: 13vh;
    color:black;
}

@media screen and (max-width: 960px){
    .about-me{
        left: 57vw;
    }
}

.aboutme1{
    margin-left: -15vw;
}

.my-description{
    height:100vh;
}

.centerimg{
    /* display: flex; */
    /* align-items: center; */
    background-image: url("portrait.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    /* height: 45vh, 25vw;
    width: 45vw;
    left: 35vw;
    top: 25vh; */
    left: 38vw;
    height: 50vh;
    width: 50vw;
    float: left;
    top: 20vh;

}

@media screen and (max-width: 960px){
    .centerimg{
        height: 400px;
        width: 400px;
        left: 28vw;
    }
}

@media screen and (max-width: 640px) {
    .centerimg{
        height: 350px;
        width: 325px;
        left: 20vw;
        top: 20vh;
    }

}

@media screen and (max-width: 400px){

    .about-me{
        font-size: 3vh;
        top: 1vh;
        left: 50vw;
    }
    
    .centerimg{
        height: 275px;
        width: 275px;
        top: 70vh;
        left: 36vw;
        
        
    }

    .me{
        margin-right: 14vw;
        margin-left: -46vw;
        margin-top: 15vh;

    }
}

.me{
    display: inline-block;
    padding-left: 4vw;
    font-size: 1vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 56vw;
    /* left: 18vw; */
    text-align: left;
    color: black;
    line-height: 4vh;
    top: -30vh;
}

@media screen and (max-width: 960px) {
    .me{
        top: -28vh;
        left: 60vw;
    }

    .projects-reports{
        margin-top: 110px;
    }
}

@media screen and (max-width: 640px) {
    .me{
        left: 60vw;
        top: -42vh;
    }
    
    .projects-reports{
        margin-top: 410px;
    }
}

.projects-reports{
    background-color: rgb(240, 239, 239);
    height: 120vh;
}

.projects{
    font-size: 4vh;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 40vw;
    white-space: nowrap;
    grid-row: 1/2;
    top: 10vh;
    color: black;
}

@media screen and (max-width: 960px) {
    .projects{
        left: 30vw;
    }

    .project-container{
        right: 21vw;
    }


    .fl-container{
        right: 22.5vw;
    }

    .ac-container{
        left: -20.5vw;
    }

}

@media screen and (max-width: 960px) {
    .report-container{
        left: -60vw;
    }
}


@media screen and (max-width: 640px) {
    .project-container{
        top: -5vh;
    }

    .fl-container{
        right: 23.5vw;
    }

    .ac-container{
        left: -21.5vw;
    }

}

@media screen and (max-width: 400px){
    .projects{
        font-size: 7vw;
        left: 16vw;
    }
    
    .project-container{
        left: -55vw;
        width: 15.5vw;
    }
}


* {box-sizing:border-box}

.project-container{
    /* margin-top: 2vh; */
    margin-left: 2vw;
    display: flex;
    position: relative;
    align-items: center;
}

.report-container{
    margin-top: 45vh;
    display: flex;
    margin-bottom: 15vh;
    margin-left: -57.5vw;
    justify-content: center;
    cursor: pointer;
}

.digit-container {
    width: 25vw; 
    height: 25vh; 
    position: relative;
    margin-bottom: 20vh;
    transition: all 0.5s ease-in-out;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.digit-container:hover{
    filter: brightness(0.75);
}

.vortex {
    width: 25vw;
    height: 25vh;
    position: relative;
    margin-left: 2vw;
    margin-bottom: 20vh;
    transition: all 0.5s ease-in-out;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

.vortex:hover{
    filter: brightness(0.75);
}

.fl-container {
    width: 25vw;
    height: 25vh;
    position: relative;
    margin-top: 15vh;
    transition: all 0.5s ease-in-out;
}

.fl-container:hover{
    filter: brightness(0.75);
}

.ac-container {
    width: 25vw;
    height: 25vh;
    position: relative;
    margin-top: 15vh;
    /* left: 2vw; */
    right: -2vw;
    transition: all 0.5s ease-in-out;
}

.ac-container:hover{
    filter: brightness(0.75);
}

.text {
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 12px;
    position: relative;
    /* bottom: -5vh; */
    /* bottom: -50px; */
    width: 100%;
    text-align: center;
}

/* .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.fade1 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade1 {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade1 {
    from {opacity: .4}
    to {opacity: 1}
} */

.contactme {
    background-color: rgb(206, 204, 204);
    /* margin-top: 100px; */
    /* grid-column: 6/8; */
}

.contacts{
    font-size: 2vw;
    /* font-family: Helvetica, Arial, sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 3vw;
    white-space: nowrap;
    text-decoration: none;
    color: black;
}


.wrapper3{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 2vw;
    grid-template-rows: repeat(1, 1fr);
    grid-row-gap: 5vh;
    width: 100%;
    margin: auto;
}

.github{
    margin-left: 10vw;
    /* margin-left: 200px; */
}

.linkedin{
    margin-left: 5vw;
    /* margin-left: 110px; */
}

.email{
    margin-left: 5vw;
    /* margin-left: 100px; */
}

.contactrow{
    /* display: inline-block; */
    position: relative;
    align-items: center;
    grid-column: 3/4;
    left: 17vw;
    /* bottom: 5vh; */
    /* left: 300px; */
    display: flex;
}

@media screen and (max-width: 640px) {
    .contactrow{
        left: 8vw;
    }
}

@media screen and (max-width: 400px){
    .contactrow{
        left: -50vw;
    }
    
    .contacts{
        visibility: hidden;
    }
}
